.interviews {
  background: linear-gradient(120deg, #052064, #7b001d);
  border: 1px solid;
}
main {
  width: 900px;
  height: auto;
  background: linear-gradient(240deg, #00227769, #80001e6a);
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-left: 300px;
  padding: 20px;
  margin-bottom: 140px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
  font-size: 40px;
  font-family: "Lemon Milk", roboto, arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
}
.content-container {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: rgb(68, 14, 119);
  border-radius: 16px;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.content-container:hover {
  background: linear-gradient(120deg, #050564, #7b0000);
  transform: scale(1.01);
  border-radius: 10px;
  transition: transform 0.25s;
}
.content-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  padding: 15px;
  gap: 15px;
}
.video-title {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
.video-title:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: text-decoration 0.25s;
}
.video-container {
  border-radius: 16px;
}
.video-desc {
  width: 100%;
  height: 110px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  border-style: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.channel-container {
  height: 50px;
  display: grid;
  grid-template-columns: 45px 1fr 1fr;
  padding: 0 15px;
  gap: 10px;
}
.channel-profile {
  border-radius: 23px;
  height: 45px;
}
.channel-profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}
.channel-author {
  height: 50px;
  color: whitesmoke;
}
.video-views {
  height: 50px;
}
.channel-author p {
  font-size: 14px;
}
.video-views,
.video-desc p {
  text-align: center;
  font-size: 13px;
}
.video-desc p {
  font-size: 13px;
  margin: 0;
  padding: 5px;
}
#js-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
/* pagination */
.pagination-container {
  width: 320px;
  height: 40px;
  padding: 9px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.prev,
.next {
  background-color: rgb(49, 49, 241);
  border: none;
  border-radius: 16px;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Robot, Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 255);
  transform: scale(1.04);
  transition: transform 0.25s, background-color 0.25s;
}
.pagination-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Robot, Arial, Helvetica, sans-serif;
}
/* new release games */

.new-release-games-main-container {
  background: linear-gradient(130deg, #03184f, rgb(65, 6, 65));
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  font-family: Poppins, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 295px;
  height: 1075px;
  padding: 7px;
  position: absolute;
  left: 1280px;
  top: 90px;
}
.new-release-games-inside-container {
  border: 3px solid;
  border-radius: 10px;
  width: auto;
  height: 100%;
}
.new-release-games-content-container-title {
  font-size: 23px;
  font-family: "Lemon Milk", Roboto, sans-serif;
  font-weight: 500;
  margin-top: 8px;
}
.new-release-games-content-container {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  letter-spacing: 0.7px;
  font-size: 13px;
  height: 37px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.new {
  position: relative;
  margin-left: 15px;
  width: 40px;
  height: 40px;
}
.new img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.new-release-games-content-container:hover {
  background: linear-gradient(120deg, #620564, blueviolet);
}
.new-release-games-main-container a {
  text-decoration: none;
  color: white;
}
